/* common css start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

:root{
    --header-clr: #444444;
    --a-clr: #21181c;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.sec-ttl{
    text-align: center;
    font-size: 40px;
    font-weight: medium;
    color: #222222;
   
}
/* //common css end */

/* header css start */
header{
    background-color: var(--header-clr);

}

header .language select{
    background-color: transparent;
    border: none;  
    border-right: 1px solid #dddddd; 
}

header .language p{
    display: inline-block;

}

header .row{
    justify-content: space-between;
  
}

header .row .language select,
header .row .language p{
    color: #dddddd; 
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;     
}

header .row .language p{
    padding-left: 22px;
}



header .row .language  #lang{
    width: 70px;
    padding: 20px 22px;
    display: inline-block;
    
    
}

header .row .language #USD{
    width: 85px;
    padding: 20px 22px;
}


header .container .account a{
    color: #dddddd;
    font-size: 13px;
    display: inline-block;
    border-right: 1px solid  #dddddd;
    padding: 20px 22px;
}

header .container .account a:last-child{
    border: transparent;
}
/* //header css start */
/* nav css start */
nav{
    background-color: #ffffff;
}
nav .row{
    align-items: center;
}
nav .logo{
    width: 15%;
    text-align: center;
}
nav .logo img{ 
        display: block;
        padding-top: 10px;
}
nav .menu{
    width: 70%;
    text-align: center;
}
nav .menu ul li{
    display: inline-block;
    position: relative;
    margin-bottom: 16px;    
}
nav .menu ul li::after,
nav .menu ul li:before{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 1px;
    width: 40%;
    background-color: red;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}
nav .menu ul li::after{
    bottom: 5px;
    width: 60%;
    transition: all 0.5s linear;
}
nav .menu ul li:hover::before{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 1px;
    width: 40%;
    background-color: red;
    opacity: 1;
    visibility: visible;
}
nav .menu ul li:hover::after{
    bottom: 5px;
    width: 60%;
    opacity: 1;
    visibility: visible;
}
nav .menu ul li a{
    display: inline-block;
    font-size: 16px;
    font-weight: medium;
    color: var(--a-clr);
    padding: 40px 10px 11px ; 
}
nav .menu ul li a:hover{
    color: #de4644;
}
nav .search-btn{
    width: 15%;
    text-align: center;
    padding-top: 10px;    
}
nav .search-btn a{
    padding-right: 20px;
    color: #444444;    
}
nav .search-btn a:last-child{
    color: #de4644;
}
/* nav css end */
/* banner css start */
#banner{
    background-image: url(../images/banner1.jpg);
    background-size: cover;
    height: 600px;
    background-size: center;
    position: relative;
    z-index: 1;
    display: block;
}

#banner::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0 , .6);
    z-index: -1;
}


#banner .container,
#banner .row{
    height: 100%;
}

#banner .row{
    align-items: center;
}

#banner .banner-item h1{
    font-size: 70px;
    font-weight: bold;
    color: #de4644;
    padding-bottom: 24px;
}

#banner .banner-item div{
    font-size: 40px;
    color: #ffffff;
    padding-bottom: 30px;
}

#banner .banner-item p{
    width: 460px;
    font-size: 14px;
    color: white;
    padding-bottom: 60px;
}

#banner .banner-item .btn a{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: none;
    border-radius: 7px;
    margin-right: 15px;
    padding: 22px 16px;
    transition: all 0.4s linear;
}

#banner .banner-item .btn a:hover{
    background-color: #de4644 ;
    border: 1px solid #de4644;
}

#banner .container .arrow{
    position: absolute;
    text-align: center;
    top: 502px;
    left: 0;
    right: 0;
    bottom: 0;

}

#banner .container .arrow a i{
    border: 1px solid #fff;
    padding: 8px 20px;
    margin: 30px 0;
    color: #222222;
    transition: all 0.5s linear;
}

#banner .container .arrow a i:hover{
    background-color: #de4644;
    border: 1px solid #de4644;
    color: #fff;
}


/* banner css end */

/* service css start */
#service{
    background-color: #f1f1f1;
}
#service .row{
    align-items: center;
    justify-content: space-between;
}
#service .row .service-item{
    width: 30%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-right:1px solid #dddddd ;
    
}

#service .row .service-item a{
    font-size: 14px;
    color: #222;
    transition: all 0.5s linear; 
    text-align: center;  
    display: inline-block;
}

#service .row .service-item:hover a,
#service .row .service-item:hover a i{
    color: #de4644;
}

#service .row .service-item:last-child{
    border-right: transparent;
}

#service .row .service-item a i{
    font-size: 24px;
    padding-right: 12px;
    color: #444444;
    transition: all 0.5s linear;  
}

#service .row .service-item p{
    font-size: 14px;
    color: #444444;
    width: 334px;
    padding-top: 30px;
    line-height: 24px;
    text-align: center;
}
/* //service css end */
/* Photo css start */

#photo{
    padding-top: 100px;
  
}
.photo-item{
    position: relative;
    text-align: center;
    margin-right: 15px;
}
.photo-item img{
    display: block;
}


.photo-item .overlay{
    position: absolute;
    background-color: #222;
    padding: 0 81px;
    color: #ffffff;
    top: 230px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 151px;
}

.photo-item.middle{
    position: relative;
    overflow: hidden;
}

.photo-item.middle p{
        background-color: #ffffff;
        color: #de4644;
        font-size: 16px;
        font-weight: 300;
        display: inline-block;
        position: absolute;
        left: -11px;
        top: 69px;
        padding: 6px 50px;
        transform: rotate(-45deg);
        transform-origin: left center;
        
    }

.photo-item .overlay h3{
    font-size: 36px;
}

.photo-item .overlay div{
    font-size: 24px;
    padding-bottom: 33px;
}

.photo-item .overlay a{
    border:2px solid #ffffff ;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    color: #ffffff;
    transition: all 0.5s linear;
}

.photo-item .overlay a:hover{
    background-color: #de4644;
    border:2px solid #de4644 ;
}
/* Photo css end */
/* products css start */

#products{
    padding-bottom: 100px;
}

.sec-ttl{
    text-align: center;
    font-size: 40px;
    font-weight: medium;
    color: #222222;
   
}

#products .sec-ttl{
    position: relative;
    width: 394px;
    margin: auto;
    padding: 20px;
}

#products .sec-ttl::after,
#products .sec-ttl::before{
    content: '';
    position: absolute;
    left: 27px;
    bottom: 0;
    height: 1px;
    width: 40%;
    background-color: red;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear;
}

#products .sec-ttl::after{
    width: 60%;
    bottom: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s linear;
}

#products .sec-ttl:hover::after,
#products .sec-ttl:hover::before{
    content: '';
    position: absolute;
    left: 27px;
    bottom: 0;
    height: 1px;
    width: 40%;
    background-color: red;
    opacity: 1;
    visibility: visible;
}

#products .sec-ttl:hover:after{
    width: 60%;
    bottom: 5px;
    opacity: 1;
    visibility: visible;
}

#products .row{
    align-items: center;
    width: 100%;
}

#products .products-menu li {
    display: inline-block;
    text-align: center;
}

#products .products-menu li a{
    display: inline-block;
    font-size: 16px;
    color: #21181c;
    padding: 0 20px;
    border-right: 1px solid #444444;
    text-align: center;
}

#products .products-menu li a:hover{
    color: #de4644;
}


#products .products-menu {
    margin: auto;
    padding-top: 60px;
    padding-bottom: 30px;
}

#products .products-item{
    margin-right: 20px ;
}

#products .products-item .test{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#products .products-item .test p{
    font-size: 16px;
    color: #222222;
}

#products .products-item .image-item {
    position: relative;
}

#products .products-item .image-item img{
    display: block;
}

#products .products-item .image-item .img-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.7);
    overflow: hidden;
    width: 100px;
    padding: 40px 0;
    text-align: center;   
    visibility: hidden;
    transition: all 0.5s linear;  
}

#products .products-item .image-item:hover .img-overlay{
    visibility: visible;
}

#products .products-item .image-item .img-overlay a i{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 28px auto;
    color: #fff;
    transition: all 0.5s linear; 
    
   
}

#products .products-item .image-item .img-overlay a i:hover{
    background-color: #de4644;
    border: 1px solid #de4644;
}

#products .products-item div a i{
    color: #de4644;
}
/* products css end */
/* computer css start */

#computer{
    padding-top: 100px;
    position: relative;
    background-color: #f1f1f1;
    padding-bottom: 55px;
}

#computer .row{
    align-items: center;
}


#computer .img{
    width:55%;
    
  
}

#computer .img img{
    width: 674px;
    position: absolute;
    left: 68px;
    top: 85px;
    bottom: 48px;
}

#computer .content{
    width: 45%;
}


#computer .content .para{
    width: 564px;
    display: inline-block;
    font-size: 14px;
    color: #444444;
    padding: 34px 0;
   
}

#computer .content div ul li{
    display: inline-block;
    border: 10x solid #353535;
}

#computer .content div ul li {
    border: 1px solid #353535;
    padding: 15px 22px;
    margin-right: 15px;
    margin-top: 30px;
    color: #444444;
}

#computer .content div ul li a{
    color:  #444444;
}
#computer .content h5{
    font-size: 20px;
    color: #222222;
    font-weight: thin;
}

#computer .content .pro{
    font-size: 40px;
    color: #de4644;
    display: inline-block;
}

#computer .content span{
    font-size: 20px;
    color: #222222;
    padding-bottom: 30px;
}
/* computer css end */
/* Latest css start */

#latest .sec-ttl{
    position: relative;
    width: 334px;
    margin: auto;
    padding: 20px;
}

#latest .sec-ttl::after,
#latest .sec-ttl::before{
    content: '';
    position: absolute;
    left: 27px;
    bottom: 0;
    height: 1px;
    width: 40%;
    background-color: red;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear;
}

#latest .sec-ttl::after{
    width: 60%;
    bottom: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s linear;
}

#latest .sec-ttl:hover::after,
#latest .sec-ttl:hover::before{
    content: '';
    position: absolute;
    left: 27px;
    bottom: 0;
    height: 1px;
    width: 40%;
    background-color: red;
    opacity: 1;
    visibility: visible;
}

#latest .sec-ttl:hover:after{
    width: 60%;
    bottom: 5px;
    opacity: 1;
    visibility: visible;
}

#latest .row{
    padding-top: 60px;
}

#latest .latest-item{
    margin-right: 20px ;
}

#latest .latest-item .test{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#latest .latest-item .test p{
    font-size: 16px;
    color: #222222;
}

#latest .latest-item .image-item {
    position: relative;
}

#latest .latest-item.image-item img{
    display: block;
}

#latest .latest-item .image-item .img-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.7);
    overflow: hidden;
    width: 100px;
    padding: 40px 0;
    text-align: center;   
    visibility: hidden;
    transition: all 0.5s linear;  
}

#latest .latest-item .image-item:hover .img-overlay{
    visibility: visible;
}

#latest .latest-item .image-item .img-overlay a i{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 28px auto;
    color: #fff;
    transition: all 0.5s linear; 
    
   
}

#latest .latest-item .image-item .img-overlay a i:hover{
    background-color: #de4644;
    border: 1px solid #de4644;
}

#latest .latest-item div a i{
    color: #de4644;
}

#latest .arrow{
    text-align: center;
}

#latest .arrow a i{
    border: 1px solid #444444;
    padding: 8px 20px;
    margin: 30px 0;
    color: #222222; 
    transition: all 0.5s linear;  
}

#latest .arrow a i:hover{
    background-color: #de4644;
    color: #fff;
    border: 1px solid #de4644;
}
/* //latest css end */

/* testimonial css start */

#testimonial .testimonial-main-content{
    background-color: #26251e ;
    background-image: url(../images/clothesbanner.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#testimonial .testimonial-main-content::before{
    position: absolute;
    content: '';
    top:0;
    width: 100%;
    height: 400px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 70%);
    z-index: -1;
}

#testimonial .sec-ttl{
    position: relative;
    width: 213px;
    margin: auto;
    padding: 20px;
    margin-bottom: 60px;
}
#testimonial .sec-ttl::after,
#testimonial .sec-ttl::before{
    content: '';
    position: absolute;
    left: 27px;
    bottom: 0;
    height: 1px;
    width: 40%;
    background-color: red;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear;
}

#testimonial .sec-ttl::after{
    width: 60%;
    bottom: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s linear;
}

#testimonial .sec-ttl:hover::after,
#testimonial .sec-ttl:hover::before{
    content: '';
    position: absolute;
    left: 27px;
    bottom: 0;
    height: 1px;
    width: 40%;
    background-color: red;
    opacity: 1;
    visibility: visible;
}

#testimonial .sec-ttl:hover:after{
    width: 60%;
    bottom: 5px;
    opacity: 1;
    visibility: visible;
}

#testimonial .testimonial-content{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-top: 60px;
}
#testimonial .testimonial-content .test-img{
    width: 20%;
}

#testimonial .testimonial-content .test-img img{
    width: 100%;
}

#testimonial .testimonial-content .img-content{
    width: 30%;
    padding-left: 30px;
}

#testimonial .testimonial-content .img-content .ash{
    font-size: 20px;
    color: #fff;
}

#testimonial .testimonial-content .img-content .sketch{
    font-size: 15px;
    color: #fff;
    padding-bottom: 36px;
}

#testimonial .testimonial-content .img-content p{
    width: 385px;
    font-size: 14px;
    color: #dddddd;
}

#testimonial .testimonial-content .img-content div:last-child{
    font-size: 24px;
    color: #fff;
    font-family: 'Festive', sans-serif;
    text-align: right;
    width: 385px;
    padding-top: 18px;
    
}

.testimonial-main-content .arrow{
    text-align: center;
}

.testimonial-main-content .arrow a i{
    border: 1px solid #fff;
    padding: 8px 20px;
    margin: 30px 0;
    color: #fff; 
}

.testimonial-main-content .arrow a i:hover{
    background-color: #de4644;
    border: 1px solid #de4644;
    transition: all 0.5s linear;
}

/* testimonial css end */

/* blog css start */

#blog{
    padding-top: 100px;
}

#blog .sec-ttl{
    position: relative;
    width: 206px;
    margin: auto;
    padding: 20px;
    margin-bottom: 60px;
}
#blog .sec-ttl::after,
#blog .sec-ttl::before{
    content: '';
    position: absolute;
    left: 27px;
    bottom: 0;
    height: 1px;
    width: 40%;
    background-color: red;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear;
}

#blog .sec-ttl::after{
    width: 60%;
    bottom: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s linear;
}

#blog .sec-ttl:hover::after,
#blog .sec-ttl:hover::before{
    content: '';
    position: absolute;
    left: 27px;
    bottom: 0;
    height: 1px;
    width: 40%;
    background-color: red;
    opacity: 1;
    visibility: visible;
}

#blog .sec-ttl:hover:after{
    width: 60%;
    bottom: 5px;
    opacity: 1;
    visibility: visible;
}

#blog .blog-item{
    width: calc(100 / 3 - 30px);
    margin-right: 15px;
}

#blog .blog-item .blog-content .best{
    font-size: 20px;
    color: #222;
    padding-top: 30px;
    padding-bottom: 36px;
}
#blog .blog-item .blog-content p{
    width: 360px;
    font-size: 14px;
    color: #444;
    padding-bottom: 34px;
}

#blog .blog-item .blog-content a {
    font-size: 16px;
    color: #444;
}

#blog .blog-item .blog-content a:hover
 {
    color:#de4644;
}

#blog .blog-item .img .overlay{
    position: relative;
    
}



#blog .blog-item .img .overlay img{
    display: block;
}

#blog .blog-item .img .overlay::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 70%);
}

#blog .blog-item .img {
    position: relative;
    
}

#blog .blog-item .img  .overlay-item .chain{
    position: absolute;
    text-align: center;
    top: 128px;
    left: 163px;
    right: 163px;
    bottom: 128px;
 

}

#blog .blog-item .img  .overlay-item .chain a i{
    border: 1px solid #dddddd;
    border-radius: 50%;
    text-align: center;
    width: 38px;
    height: 38px;
    line-height: 38px;
}


#blog .blog-item .img  .overlay-item .contact{
    position: absolute;
    top: 270px;
    right: 12px;
    left: 12px;
    bottom: 14px;
    font-family: 'Open Sans', sans-serif;
    
}


#blog .blog-item .img .overlay-item a {
    margin-right: 15px;
    font-size: 14px;
    color: #dddddd;
}
/* //blog css end */

/* contact css start */
 #contact{
    background-color: #353535;
    padding: 64px 0;
    margin-top: 100px;
}
#contact .one{
    width: 28%;
}

#contact .one img{
    display: block;
    padding-bottom: 30px;
}

#contact .one p{
    font-size: 14px;
    color:  #dddddd;
    font-family: 'Open Sans', sans-serif;
}

#contact .two{
    width: 32%;
}

#contact .two h3{
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 50px;
}

#contact .two .contact-icon a{
    display: block;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

#contact .two .contact-icon a i{
    padding-right: 30px;
    padding-bottom: 30px;
}

#contact .three{
    width: 10%;
}

#contact .three h3{
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 50px;
}

#contact .three ul li{
    font-size: 16px;
    color: #dddddd;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;

}

#contact .three ul li a{
    display: block;
    color: #dddddd;
    transition: all 0.5s linear;

}

#contact .three ul li a:hover{
    color:#de4644;
    
}

#contact .four{
    width: 30%;
    padding-left: 69px;
} 

#contact .four h3{
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 50px;
}

#contact .four form{
    padding-bottom: 50px;
}

#contact .four form input:nth-child(1){
    width: 184px;
    font-size: 14px;
    background-color: transparent;
    color: #ffffff;
    padding: 15px 0 15px 10px;
    font-style: italic;   
}

#contact .four form input:nth-child(2){
    font-size: 16px;
    background-color: #de4644;
    display: inline-block;
    padding-left: 0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 15px 20px;   
}

#contact .four p{
    font-size: 16px;
    color: #ffffff;
}

#contact .four .social-icon{
    padding-top: 50px;
}

#contact .four .social-icon a i{
    color: #fff;
    margin-right: 15px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #fff;
    transition: all 0.5s linear;
    border-radius: 50%;
    
}

#contact .four .social-icon a i:hover{
    background-color: #de4644;
    border: 1px solid #de4644;
}
/* //contact css end */

/* footer css start */

footer{
    background-color: #555555;
    padding: 20px 0;
}
footer .row{
    justify-content: space-between;
}

footer .row div p{
    font-size: 14px;
    color: #fff ;
}

footer .row div p span{
    color: #de4644;
}

footer .row div a i{
    margin-right: 5px;
    color: #fff;
    
}

footer .row div a {
    box-shadow: 0 2px 1px #5c5c5c;
}
/* footer css end */